/.idea/
/.sass-cache/
/bower_components/
/node_modules/
/demos/
/test/
/pa11y_screenCapture/
/public/
/src/client/*
main-client.js
main.scss
*env*

.babelrc
.DS_Store
.editorconfig
.eslintrc.js
.gitignore
.scss-lint.yml
.pa11yci.js
.stylelintrc
bower.json
package-lock.json
circle.yml
ft.yml
Makefile
secret-squirrel.js