// TODO: remove once Google have native disabled styling
// from here
.swg-button,
.swg-button-light {
	&:disabled,
	&:disabled:hover {
		background: #cccccc;
	}
}

.swg-button-dark {
	&:disabled,
	&:disabled:hover {
		background: #6c747a;
	}
}
// until here

$o-overlay-is-silent: true;
$o-buttons-is-silent: true;

@import 'o-overlay/main';
@import 'o-buttons/main';

.overlay__wrapper {
	position: fixed;
	width: 100%;
	bottom: 0;
}

.overlay__shadow {
	@include oOverlayShadow;

	background-color: rgba(32, 33, 36, 0.6);
	text-align: center;
}

.overlay__close {
	@include oOverlayClose;

	position: absolute;
	left: 0;
	top: 0;
	width: 24px;
	height: 24px;
	margin: 13px;
	border-bottom: 0;
}

.overlay__content {
	background-color: #FFFFFF;
	border-radius: 8px 8px 0 0;
	border: 1px solid transparent;
	box-shadow: 0 1px 1px rgba(60, 64, 67, 0.3), 0 1px 4px 1px rgba(60, 64, 67, 0.15);
	font-family: 'Metric', Helvetica, Arial, sans-serif;
	color: #000000;
	font-size: 16px;
	line-height: 20px;
	margin: 0 auto;
	max-width: 480px;
	position: relative;

	a.overlay__button {
		@include oButtons($theme: primary);
	}

	&::before {
		content: '';
		display: inline-block;
		position: absolute;
	}
}

.overlay__content--ft-mast {
	&::before {
		background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fwww.ft.com%2F__assets%2Fcreatives%2Fbrand-ft%2FFT_logo_square.svg?source=next&height=20&format=svg&quality=highest');
		background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fwww.ft.com%2F__assets%2Fcreatives%2Fbrand-ft%2FFT_logo_square.svg?source=next&height=40&format=png&quality=highest')\9;
		background-repeat: no-repeat;
		width: 40px;
		height: 40px;
		margin-left: -20px;
		top: 8px;
	}
}

.overlay__content--google-ft-mast {
	&::before {
		background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fwww.ft.com%2F__assets%2Fcreatives%2Fbrand-ft%2FGoogle_with_FT_logo_square.svg?source=next&height=20&format=svg&quality=highest');
		background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fwww.ft.com%2F__assets%2Fcreatives%2Fbrand-ft%2FGoogle_with_FT_logo_square.svg?source=next&height=36&format=png&quality=highest')\9;
		background-repeat: no-repeat;
		width: 155px;
		height: 36px;
		top: 10px;
		margin-left: -77px;
	}
}

.overlay__inner {
	padding: 10px 20px;
	margin-top: 56px;
	border-top: 0.5px solid #dddddd;

	small {
		font-size: 12px;
		font-family: Consolas,Menlo,Monaco,Lucida Console,Courier New,monospace,sans-serif;
	}
}
