// TODO: remove once Google have native disabled styling
// from here
.swg-button,
.swg-button-light {
	&:disabled,
	&:disabled:hover {
		background: #cccccc;
	}
}

.swg-button-dark {
	&:disabled,
	&:disabled:hover {
		background: #6c747a;
	}
}
// until here

$o-grid-is-silent: true;

@import 'o-buttons/main';
@import 'o-grid/main';
@import 'o-icons/main';
@import 'o-typography/main';

.overlay__wrapper {
	position: fixed;
	width: 100%;
	bottom: 0;

	@include oGridRespondTo(S) {
		margin-top: 15vh;
		bottom: initial;
	}
}

.overlay__shadow {
	background-color: rgba(0, 0, 0, 0.2);
	position: fixed;
	height: 150%; // because on some phones scrolling upwards detaches a 100% height overlay from the bottom of the screen
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}

.overlay__close {
	@include oIconsContent('cross', oColorsByName('black-60'), $size: 20);
	position: absolute;
	right: 0;
	top: 0;
	width: 20px;
	height: 20px;
	border-bottom: 0;
	background-size: contain;
	// start: undo button styles
	appearance: none;
	border: 0;
	font: inherit;
	outline: inherit;
	// end: undo button styles
	box-sizing: content-box;
	margin-top: 10px; // Align with the text baseline (magic number)
	margin-right: 10px; // Same right spacing as the top one
	margin-left: 10px;
	margin-bottom: 10px;
	padding: 0.25em;
	cursor: pointer;
	font-size: 8px;
	line-height: 1;
	user-select: none;

	// Increase hit zone of the button around it for better usability
	&:after {
		position: absolute;
		content: '';
		top: -10px;
		right: -10px;
		left: -10px;
		bottom: -10px;
	}
}

.overlay__content {
	background-color: #FFFFFF;
	border: 1px solid transparent;
	box-shadow: 0 1px 1px rgba(60, 64, 67, 0.3), 0 1px 4px 1px rgba(60, 64, 67, 0.15);
	margin: 0 auto;
	max-width: 580px;
	position: relative;
}

.overlay__button {
	@include oButtonsContent($opts: (
		'type': 'primary',
		'size': 'big'
	));
	width: 100%;
}

.overlay__inner {
	text-align: left;
	padding: 30px 24px 24px;

	@include oGridRespondTo(S) {
		padding: 48px 50px 50px 30px;
	}

	@include oGridRespondTo(M) {
		padding: 48px 100px 80px 80px;
	}

	h3 {
		@include oTypographyHeading($level: 1);
		@include oTypographySans($scale: 3, $include-font-family: false, $include-progressive: false);
	}

	p {
		@include oTypographySans( $scale: (default: 0, M: 1) );
	}

	.external {
		@include oTypographyLink($external: true);
	}
}

.overlay__content--loading {
	text-align: center; // center spinner
};

/* Loading spinner */
.overlay__content--loading::after {
	content: '';
	display: inline-block;
	position: absolute;
	width: 16px;
	height: 16px;
	border: 3px solid rgba(51, 48, 46, 0.25);
	border-top-color: #33302e;
	border-radius: 50%;
	-webkit-animation: loading-spinner 1s infinite linear;
	animation: loading-spinner 1s infinite linear;
	top: 50%;
	margin-top: -8px;
	margin-left: -8px;
	z-index: 2;
}

/* White out the modal */
.overlay__content--loading::before {
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	z-index: 1;
	background-color: #FFFFFF;
}

@keyframes loading-spinner {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
