{{#defineBlock 'head'}}
	{{#each jsonLd}}
	<script type="application/ld+json">
		{{{json this}}}
	</script>
	{{/each}}
{{/defineBlock}}

<div class="o-grid-container mock-content" data-n-swg-demo-env="{{env}}" data-n-swg-demo-manual-mode="{{manualInit}}" data-n-swg-local-proxy="{{localProxy}}">

	<h1>Demo of n-swg</h1>

	<p>
		Note: Using <strong>{{env}}</strong> environment. JSON-LD is that of a <strong>{{#if contentPaywall}}content paywall for "{{accessLevel}}" content{{else}} standalone paywall (i.e ft.com/products){{/if}}.</strong> SwG client will be initialised<strong>{{#if manualInit}} using manual init mode for "ft.com:subscribed"{{else}} automatically{{/if}}</strong>. Outgoing requests on the same origin are routed via a local proxy <strong>{{#if localProxy}}with mocks in place{{else}}without any mocks{{/if}}</strong>.
	</p>

	<h2>Subscribe Buttons:</h2>

	{{#each offers}}
	<p class="offer">
		<strong>{{name}}</strong><br />
		{{> n-swg/views/button appName="demo" skus=sku }}
	</p>
	{{/each}}

	<p class="offer">
		<strong>Multiple SKUs (showOffer)</strong><br />
		{{> n-swg/views/button appName="demo" skus=offersList }}
	</p>

	<p><strong>Example manual invocation of SwG client functions</strong></p>
	<p>
		<button type="button" id="func-showSubscribeOption">showSubscribeOption()</button>
		<button type="button" id="func-showAbbrvOffer">showAbbrvOffer()</button>
		<button type="button" id="func-subscribe" data-sku="{{offers.0.sku}}">subscribe({{offers.0.sku}})</button>
		<button type="button" id="func-link">Experimental! Link account()</button>
	</p>

	<p>For now you can clear your sandbox subscriptions <a href="https://subscribe-autopush.sandbox.google.com/swg/dev/ft.com">here</a>.</p>

	<p>Other scenarios:
		<a href="/?production=true&paywall=true">Production env with paywall markup</a>,
		<a href="/?paywall=true">Sandbox env with paywall markup</a>,
		<a href="/?production=true&manual=true">Production with forced manual init mode</a>,
	</p>

	<h2>Markup found in head "application/ld+json" script tag:</h2>
	{{#each jsonLd}}
	<p class="code">{{{json this}}}</p>
	{{/each}}

	<h2>Example button styles</h2>
	<div>
		<p>standard</p>
		<button class="swg-button" title="Subscribe with Google"></button>
		<p>disabled</p>
		<button class="swg-button" title="Subscribe with Google" disabled></button>
	</div>
	<div>
		<p>light</p>
		<button class="swg-button-light" title="Subscribe with Google"></button>
	</div>
	<div>
		<p>dark</p>
		<button class="swg-button-dark" title="Subscribe with Google"></button>
	</div>

</div>
