<div class="o-grid-container mock-content">

	<h1>Demo of n-swg</h1>

	<h2>Subscribe Button</h2>

	<p>
		<strong>basic_daily_1 Dummy SKU</strong><br />
		{{> n-swg/views/button appName="demo" sku="basic_daily_1" }}
	</p>

	<p>
		<strong>premium_daily_1 Dummy SKU</strong><br />
		{{> n-swg/views/button appName="demo" sku="premium_daily_1" }}
	</p>

	<p>
		Note: The button above is mainly for demonstration. The window it opens may not work as it uses a dummy sku.
		<br />
		For now you can clear you subscriptions <a href="https://subscribe.sandbox.google.com/swglib/dev/ft.com">here</a>
	</p>

</div>
