@import 'n-ui-foundations/main';
@import '../../main';

.mock-content {

	padding-bottom: 50px;

	h1 {
		padding-top: 20px;
	}

	p {
		font-size: 16px;
		line-height: 1.4;
	}

	.explainer {
		font-size: 18px;
		font-weight: bold;
	}

	.code {
		display: block;
		overflow-wrap: break-word;
		background: #eff0f1;
		border: 1px solid #cccccc;
		padding: 2px 5px;
		border-radius: 3px;
		font-size: 12px;
		font-family: Consolas,Menlo,Monaco,Lucida Console,Courier New,monospace,sans-serif;
	}

	.offer {
		display: inline-block;
		width: 45%;
	}

}
